/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* css reset */

/* 我的樣式開始 */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC&family=Roboto&display=swap');
*, *::before, *::after {
	box-sizing: border-box;
}
*, body {
	font-family: 'Roboto', 'Noto Sans TC', sans-serif;
	font-weight: normal;
	color: #221E1F;
}
body {
	position: relative;
	height: 100vh;
}
.layer {
	position: absolute;
	z-index: 1;
	width: 100%;
	background-image: url(../images/bg_home.svg), url(../images/ball01.svg), url(../images/ball02.svg), url(../images/ball03.svg);
    background-repeat: no-repeat;
    background-position: right top, -222px 598px, right -100px top 1694px, 50px 2640px;
	@media (max-width: 768px) {
		background-image: url(../images/bg_home_sm.svg), url(../images/ball01.svg), url(../images/ball02.svg), url(../images/ball03.svg);
		background-position: center top 450px, -77px 743px, right -47px top 3067px, -76px 4827px;
		background-size: 500px, 126px, 135px, 153px;
	}
	@media (max-width: 425px) {
		background-position: center top 391px, -77px 743px, right -47px top 3067px, -76px 4827px;
		background-size: 334px, 126px, 135px, 153px;
	}
}
.inner {
	display: flex;
	margin: 0 auto;
	padding: 0 6px;
	max-width: 1100px;
	@media (max-width: 1024px) {
		padding: 0 16px;
	}
}
img { 
	display: block;
}
h1, h2, h3, h4, h5 {
	font-weight: bold;
}
header {
	@media (max-width: 768px) {
		border-bottom: 2px solid #FFD153;
	}
	.inner {
		justify-content: space-between;
		align-items: center;
		padding: 24px 6px;
		@media (max-width: 1024px) {
			padding: 24px 16px;
		}
	}
	h1 a {
		display: block;
	}
	img {
		height: 40px;
		@media (max-width: 425px) {
			height: 32px;
		}
	}
}
.cta {
	display: inline-block;
	padding: 12px 32px;
	color: #fff;
	text-decoration: none;
	border-radius: 100px;
	&-header {
		font-size: 16px;
		background-color: #FF5D50;
	}
	&-plan {
		font-size: 18px;
		line-height: 26px;
		background-color: #56C4C5;
	}
}
article.inner {
	flex-direction: column;
	align-items: center;
}
section {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 50px 0;
	width: 100%;
	@media (max-width: 425px) {
		padding: 30px 0px;
	}
	&.key-visual {
		flex-direction: row;
		justify-content: space-between;
		flex-wrap: wrap;
		margin-bottom: 130px;
		padding: 30px 0px;
		img {
			width: 532px;
			@media (max-width: 768px) {
				margin-top: 32px;
				width: 75%;
			}
			@media (max-width: 425px) {
				width: 90%;
			}
		}
		@media (max-width: 768px) {
			justify-content: center;
		}
		@media (max-width: 425px) {
			margin-bottom: 30px;
			padding-top: 32px;
		}
	}
	.key-info {
		max-width: 455px;
		h3 {
			font-size: 18px;
			line-height: 26px;
			color: #56C4C5;
			@media (max-width: 425px) {
				font-size: 16px;
				line-height: 24px;
			}
		}
		h2 {
			margin: 8px 0px 16px 0px;
			font-size: 48px;
			line-height: 70px;
			@media (max-width: 425px) {
				font-size: 32px;
				line-height: 46px;
			}
		}
		p {
			font-size: 20px;
			line-height: 29px;
			@media (max-width: 425px) {
				font-size: 16px;
				line-height: 24px;
			}
		}
		@media (max-width: 768px) {
			width: 100%;
			max-width: 100%;
		}
	}
	h4 {
		font-size: 32px;
		line-height: 46px;
		@media (max-width: 425px) {
			font-size: 28px;
			line-height: 40px;
		}
	}
	.detail {
		margin-top: 16px;
		font-size: 18px;
		font-weight: normal;
		line-height: 26px;
	}
	ul {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		margin-top: 48px;
		width: 100%;
		&.box {
			padding: 0 60px;
			@media (max-width: 425px) {
				justify-content: center;
			}
		}
		&.position-fix-box {
			margin-top: 104px;
			@media (max-width: 768px) {
				margin-top: 0;
			}
		}
		@media (max-width: 768px) {
			margin-top: 0px;
		}
	}
	.item {
		img {
			width: 100%;
		}
		&-socialmedia {
			display: flex;
			flex-direction: column;
			align-items: center;
		}
		&-socialmedia img{
			width: 90px;
		}
		&-socialmedia > div {
			display: flex;
			flex-direction: column;
			align-items: center;
		}
		&-socialmedia h5 {
			margin: 16px 0 8px 0;
			font-size: 24px;
			line-height: 35px;
			@media (max-width: 425px) {
				font-size: 20px;
				line-height: 29px;
			}
		}
		&-socialmedia p {
			font-size: 16px;
			line-height: 24px;
			color: #747474;
			text-align: center;
		}
		@media (max-width: 768px) {
			margin-top: 48px;
		}
		@media (max-width: 425px) {
			margin-top: 32px;
		}
	}
	.item-role {
		width: calc((100% - 16px*3) / 4);
		background-color: #fff;
		border-radius: 12px;
		box-shadow: 0px 2px 10px rgba(0,0,0,0.14);
		img {
			border-radius: 12px 12px 0 0;
		}
		@media (max-width: 768px) {
			width: calc((100% - 16px) / 2);
		}
		@media (max-width: 425px) {
			width: 100%;
		}
	}
	.item-role > div {
		display: flex;
		flex-direction: column;
		align-items: center;
		h5 {
			margin: 16px 0;
			font-size: 16px;
			line-height: 24px;
			color: #56C4C5;
		}
		p {
			margin-bottom: 24px;
			font-size: 16px;
			line-height: 24px;
			text-align: center;
		}
	}
	&.service-sec {
		flex-direction: row;
		flex-wrap: wrap;
		@media (max-width: 1024px) {
			flex-direction: column-reverse;
		}
		ul {
			margin-top: 0px;
			width: 508px;
			@media (max-width: 1024px) {
				width: 100%;
			}
		}
		.cta {
			margin-top: 24px;
			@media (max-width: 425px) {
				margin-top: 16px;
			}
		}
	}
	.service-info {
		margin-left: 128px;
		@media (max-width: 1024px) {
			display: flex;
			flex-direction: column;
			align-items: center;
			margin-left: 0;
			h4 {
				text-align: center;
			}
			p {
				text-align: center;
			}
		}
	}
	.icon {
		width: 86px;
		height: 86px;
		border-radius: 43px;
		box-shadow: 0px 2px 10px rgba(0,0,0,0.14);
		background-image: url(../images/icon01.svg);
		background-repeat: no-repeat;
		background-position: center;
		&-02 {
			background-image: url(../images/icon02.svg);
		}
		&-03 {
			background-image: url(../images/icon03.svg);
		}
		&-04 {
			background-image: url(../images/icon04.svg);
		}
	}
	.item-service {
		margin-bottom: 24px;
		padding: 32px 32px 48px;
		width: 230px;
		background-color: #fff;
		border-radius: 12px;
		box-shadow: 0px 2px 10px rgba(0,0,0,0.14);
		&:nth-child(3), &:nth-child(4) {
			margin-bottom: 0px;
		}
		@media (max-width: 1024px) {
			margin-top: 48px;
			margin-bottom: 0;
		}
		@media (max-width: 768px) {
			width: calc((100% - 16px) / 2);
		}
		@media (max-width: 425px) {
			margin-top: 32px;
			width: 100%;
		}
		h5 {
			margin: 24px 0 16px 0;
			font-size: 18px;
			line-height: 26px;
		}
		p {
			font-size: 16px;
			line-height: 24px;
		}
	}
	.item-rating {
		position: relative;
		padding: 48px 32px 24px;
		width: calc((100% - 16px*2) / 3);
		background-color: #fff;
		font-size: 16px;
		line-height: 24px;
		border-radius: 12px;
		box-shadow: 0px 2px 10px rgba(0,0,0,0.14);
		@media (max-width: 768px) {
			margin-top: 104px;
			width: calc((100% - 16px) / 2);
		}
		@media (max-width: 425px) {
			margin-top: 88px;
			width: 100%;
		}
		.user {
			position: absolute;
			top: -56px;
			left: 32px;
			width: 80px;
			border-radius: 40px;
		}
		& > div p {
			padding-bottom: 24px;
			border-bottom: 1px solid #DDDDDD;
		}
		h5 {
			padding-top: 24px;
		}
		& > div > div {
			display: flex;
			justify-content: space-between;
			align-items: center;
			margin-top: 8px;
		}
		h6 {
			color: #747474;
		}
	}
	.rating {
		display: flex;
		img {
			width: 16px;
			margin-left: 6px;
		}
	}
}
footer {
	margin-top: 50px;
	@media (max-width: 425px) {
		margin-top: 30px;
	}
	.inner {
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: 260px 0 100px;
		max-width: 100%;
		background-image: url(../images/home_footer.svg);
		background-repeat: repeat-x;
		background-position: center top 0;
		@media (max-width: 425px) {
			padding: 295px 0 60px;
			background-image: url(../images/footer_sm.svg);
			background-repeat: no-repeat;
			background-size: contain;
		}
		p {
			font-size: 32px;
			font-weight: bold;
			line-height: 46px;
			@media (max-width: 425px) {
				font-size: 24px;
				line-height: 35px;
			}
		}
	}
	.cta {
		margin-top: 48px;
		@media (max-width: 425px) {
			margin-top: 24px;
		}
	}
	.copyright {
		padding: 16px 0;
		text-align: center;
		font-size: 16px;
		line-height: 24px;
		background-color: #F5F5F5;
	}
}
.back-to-top {
	position: fixed;
	z-index: 2;
	right: 48px;
	bottom: 48px;
	width: 64px;
	height: 64px;
	background-color: #56C4C5;
	font-weight: bold;
	text-align: center;
	line-height: 64px;
	color: #fff;
	text-decoration: none;
	border-radius: 40px;
	@media (max-width: 1024px) {
		right: 24px;
		bottom: 24px;
	}
	@media (max-width: 768px) {
		right: 16px;
		bottom: 16px;
	}
	@media (max-width: 425px) {
		display: none;
	}
}